:root {
  --background: ;
  --main-div: ;
  --sub-div: ;
  --nav: ;
  --text: ;

  --level1: #ffffff;
  --level2: #f5e7d8;
  --level3: #e69138;
  --level4: #b45f06;
  --level5: #783f04;
  --level6: #000000;
}