body {
  background-color: #d6d6d6;
}

.index-container {
  width: 96vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #f8f8f8;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, auto);
}

h1 {
  font-size: calc(32px + 10vw);
}

img {
  max-width: 100%;
}

a {
  grid-column: 2 / span 1;
  display: block;
  padding: 5% 20%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: calc(24px + 1vw);
  font-weight: 500;
  color: black;
  background-color: #bebebe;
  align-self: flex-start;
  /* justify-self: center; */
}

a:hover {
  color: black;
  text-decoration: none;
  border: 1px solid #383838;
  background-color: #dcdada;
}



.website-title {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;

  align-self: center;
  justify-self: center;
}



/* @media only screen and (min-width: 760px) {
  .index-container {
    grid-template-rows: repeat(12, 20vh);
  }
} */